h1,h2 {
  color: blue;
}

h1,h2,p {
  text-align: center;
}
p.example {
  font-weight: bold;
  font-style: italic;
}
p.intro {
  color: red
}

p.example2 {
  text-decoration: underline;
}

.important {
  color: green;
}
