h1,h2 {
  color: blue;
}

h1,h2,p {
  text-align: center;
}
.column {
  width:80%;
  float: left;
}

p.example2 {
  text-decoration: underline;
}

.important {
  color: green;
}

.unimportant {
  color: pink;
}

img {
  float: right;
  border: 2px solid black;
  margin: 5px;
  padding: 2px;

}

.sidebar {
  float: left;
  margin: 5px;
  border: 2px solid orange;
  padding: 5px;
  background-color: ivory;
}
